{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="text-center my-5 text-white">Inscription</h1>

        {{ form_start(form) }}
        
            <div class="my-custom-class-for-errors">

                {% for flash_error in app.flashes('verify_email_error') %}

                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>

                {% endfor %}

            </div>

            <div class="row">

                {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(registrationForm.utilisateur_nom, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer votre nom'} }) }}
                            </div>
                            <div class="form-group my-5">
                                {{ form_row(registrationForm.utilisateur_prenom, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer votre prenom'} }) }}
                            </div>
                            <div class="form-group my-5">
                                {{ form_row(registrationForm.adresse_libelle, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer votre adresse'} }) }}
                            </div>
                            <div class="form-group my-5">
                                {{ form_row(registrationForm.adresse_ville, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer votre ville'} }) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(registrationForm.adresse_postal, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer votre code postale'} }) }}
                            </div>
                            <div class="form-group my-5">
                                {{ form_row(registrationForm.utilisateur_mail, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer votre email'} }) }}
                            </div>
                            <div class="form-group my-5">
                                {{ form_row(registrationForm.utilisateur_telephone, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer votre téléphone'} }) }}
                            </div>
                            <div class="form-group my-5">
                                {{ form_row(registrationForm.utilisateur_mdp, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer votre mots de passe'} }) }}
                                {# {{ form_row(registrationForm.plainPassword,} #}
                            </div>
                            
                        </div>

                        {{ form_row(registrationForm.agreeTerms) }}

                        <button type="submit" class="btn"></button>

                    {{ form_end(registrationForm) }}

                {{ form_end(form) }}

            </div>
            
    </div>

{% endblock %}
