{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center my-5 text-white">Paiement</h1>

        {{ form_start(form) }}

            <!-- Affiche les erreurs de validation -->
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <!-- Formulaire à gauche -->
                <div class="col-md-6">
                    <div class="form-group text-white">
                        {{ form_row(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer nom'} }) }}
                    </div>
                    <div class="form-group my-5 text-white">
                        {{ form_row(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer prenom'} }) }}
                    </div>
                    <div class="form-group my-5 text-white">
                        {{ form_row(form.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer l\'adresse de l\'ivraison'} }) }}
                    </div>
                    <div class="form-group text-white">
                        {{ form_row(form.cartebancaire, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer les 16 chiffres '} }) }}
                    </div>
                    <div class="form-group my-5 text-white">
                        {{ form_row(form.dateexpiration, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer la date d\'expiration'} }) }}
                    </div>
                    <div class="form-group my-5 text-white">
                        {{ form_row(form.codeverification, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer le cryptogramme'} }) }}
                    </div>
                </div>

                <!-- Panier à droite -->
                <div class="col-md-6">
                    <div class="cart-container">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="text-white">Produit</th>
                                <th scope="col" class="text-white">Quantité</th>
                                <th scope="col" class="text-white">Prix</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-white">Produit A</td>
                                <td class="text-white">2</td>
                                <td class="text-white">20 €</td>
                            </tr>
                            <tr>
                                <td class="text-white">Produit B</td>
                                <td class="text-white">1</td>
                                <td class="text-white">15 €</td>
                            </tr>
                            </tbody>
                        </table>
                        <div><strong class="text-white">Total :</strong> 35 €</div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-4">
                <a href="{{ path('app_confirmation_com') }}" class="btn btn-light">Paiement</a>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
