{% extends 'base.html.twig'%}

{% block title %} Inscription {% endblock %}
    
{% block body %}

    <div class="container">

        <h1 class="text-center my-5 text-white">Inscription</h1>

        {{ form_start(form) }}

            <!-- Affiche les erreurs de validation -->
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(form.utilisateur_nom, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer nom'} }) }}
                    </div>
                    <div class="form-group my-5">
                        {{ form_row(form.utilisateur_prenom, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer prenom'} }) }}
                    </div>
                    <div class="form-group my-5">
                        {{ form_row(form.utilisateur_adresse, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer votre adresse'} }) }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(form.utilisateur_mail, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer email'} }) }}
                    </div>
                    <div class="form-group my-5">
                        {{ form_row(form.utilisateur_telephone, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer téléphone'} }) }}
                    </div>
                    <div class="form-group my-5">
                        {{ form_row(form.utilisateur_mdp, {'attr': {'class': 'form-control', 'placeholder': 'Veuillez entrer mot de passe'} }) }}
                    </div>
                </div>

            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
