{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container mt-5 text-white">
        <h1 class="text-center">Félicitation ! Email de confirmation</h1>
        
        <p>
            Bonjour
            {{ utilisateur.utilisateurNom }},{{ utilisateur.utilisateurPrenom }}
        </p>
        <p>
            Nous vous remercions pour votre commande sur Village Green ! Nous sommes heureux de confirmer que votre commande a été enregistrée avec succès.
            Nous avons bien reçu votre commande passée le 
            {# {{ commande.commanDate|date('d/m/Y') }},  #}
            et elle est actuellement en cours de traitement.
        </p>

        <h3>Détails de votre commande :</h3>

        <ul>
            {# {% for produit in commande.produits %}
                <li>{{ produit.nom }},  #}
                Quantité :
                {# {{ produit.quantite }} - #}
                Prix : 
                {# {{ produit.prix|number_format(2, ',', ' ') }} €</li>
            {% endfor %} #}
        </ul>

        <p>
            <strong>Montant total :</strong><br>
            {# {{ commande.montant_total|number_format(2, ',', ' ') }} € #}
            <br>
            <strong>Adresse de livraison :</strong> 
            {# {{ commande.adresse }} #}
        </p>

        <p>
            Merci et à bientôt !
        </p>
    </div>

{% endblock %}
