<footer class="bg-dark text-light py-4">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- Section des images alignées à gauche -->
        <div class="d-flex">
            <img src="{{ asset('/image/facebook.webp') }}" alt="facebook" width="60" height="60" class="me-3">
            <img src="{{ asset('/image/insta.webp') }}" alt="instagram" width="60" height="60" class="me-3">
            <img src="{{ asset('/image/snap.webp') }}" alt="snapchat" width="60" height="60">
        </div>
        
        <!-- Section des liens alignés à droite -->
        <div class="d-flex">
            <a href="{{ path('app_cgu')}}" class="text-light mx-2">cgu</a>
            <a href="{{ path('app_politiqueConf')}}" class="text-light mx-2">politique de confidentialité</a>
            <a href="{{ path('app_mentionsLegales')}}" class="text-light mx-2">mentions légales</a>
        </div>
    </div>
</footer>