<header>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand logo-container">
                <img src="{{ asset('/images/logo.webp') }}" alt="Logo" class="logo">
            </a>

            <!-- Barre de recherche -->
            <form class="d-flex search-bar">
                <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
                <button class="btn btn-outline-success" type="submit">Recherche</button>
            </form>

            <!-- Barre de navigation -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_categorie') }}">Catégorie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_instrument') }}">Instruments</a>
                    </li>
                    <li class="nav-item">
                        
                        <a href="{{ path('app_login') }}" class="nav-link tex-light">
                            connexion<i class="fa-light fa-user"></i> 
                        </a>                    
                    </li>
                    <li class="nav-item">
                    
                        <a href="{{ path('app_logout') }}" class="nav-link tex-light">
                            déconnexion<i class="fa-light fa-user"></i> 
                        </a>                    
                    </li>
                </ul>
                    
                {# Panier #}
                <a href="#" class="nav-link text-light">
                    <i class="bi bi-cart"></i> 
                </a>
            </div>

        </div>

    </nav>

</header>


    
