<body>
    <h1>Facture de la commande</h1>
    <p>Nom: {{ nom }} {{ prenom }}</p>
    <p>Email: {{ email }}</p>
    <p>Adresse:
        
        {% for item in adresse %}
            {{ item.adresse.adresseLibelle }} {{ item.adresse.adressePostal }} {{ item.adresse.adresseVille }}
        {% endfor %}
       
    </p>
    {# TODO adresse #}

    <h2>Produits Commandés</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
            </tr>
        </thead>
        <tbody>
            {% for item in panier %}
                <tr>
                    <td>{{ item.produit.produitLibelle }}</td> 
                    <td>{{ item.quantite }}</td>  
                    <td>{{ item.produit.produitPrixHt | number_format(2, ',', ' ') }} €</td>  {# Prix unitaire #}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{ total | number_format(2, ',', ' ') }} €</h3>
</body>
</html>
