{% extends 'base.html.twig' %}

{% block title %}Village green{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="text-center my-5 text-white">Toutes nos catégories</h1>
        
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">

        {% for rubrique in rubriques %}
{# TODO BOUTON POUR LE PANIER #}
            <div class="col-3 my-5">

                <div class="card h-100 d-flex flex-column">

                    <a href="{{ path('app_rubrique_produits', { id:rubrique.id }) }}">

                        <img 
                            src="{{ asset('image/' ~ rubrique.rubriqueImage) }}" 
                            alt="{{ rubrique.rubriqueLibelle }}" 
                            class="card-img-top h-80"
                        >
                    </a>
                    <div class="card-body text-center">
                        <p class="card-text h-25">{{ rubrique.rubriqueDescription }}</p>
                    </div>

                </div>

            </div>

        {% endfor %}

        </div>
        <!-- Best Sellers -->
        <div class="d-flex align-items-center justify-content-center my-4">
            <h1 class"text-white">Best Sellers</h1>
            <img src="{{ asset('/image/best.webp') }}" alt="Best Sellers" style="width: 70px; height: 70px; margin-left: 20px;">
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center mb-3">

            {% for produit in produits %}

                <div class="col-3 my-5">

                    <div class="card h-100 d-flex flex-column">
                        <img 
                            src="{{ asset('/image/'~ produit.produitImage) }}" 
                            alt="{{ produit.produitLibelle}}" 
                            class="card-img-top h-50"
                        >
                        <div class="card-body text-center">
                            <p class="card-text">{{ produit.produitDescription }}</p>
                            <p class="card_text">Réf : {{ produit.produitReference }}</p>
                            <p class="card_text">Stock : {{ produit.produitStock }} en stock.</p>
                            <p><strong>Prix : </strong>{{ produit.produitPrixHt }} €</p>
                        </div>
                        <div class="text-center my-2">
                            <a href="{{ path('panier_add', {'id': produit.id} ) }}" class="btn btn-light">Valider le panier</a>
                        </div>
                    </div>
            
                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}
