{% extends 'base.html.twig' %}

{% block title %}Village green{% endblock %}

{% block body %}

    <div class="container mt-5">
    
        <h1 class="text-center mb-4 text-white">Toutes nos instruments</h1>
        
        <div class="row row-cols-1 row-cols-md-4 g-4">
            
            <div class="col-3 my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/violon1.webp" alt="Violon" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Violon</p>
                    </div>
                </div>
                <!-- Espace pour le bouton -->
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col-3 my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/violon2.webp" alt="Violon" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Violon</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col-3 my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/acoustique1.webp" alt="Guitare acoustique" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Guitare Acoustique</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/acoustique2.webp" alt="Guitare acoustique" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Guitare Acoustique</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/guitare_elec1.webp" alt="Guitare électrique" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Guitare Électrique</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/guitare_elec2.webp" alt="Guitare électrique" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Guitare Électrique</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/saxo1.webp" alt="Saxophone" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Saxophone</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/saxo2.webp" alt="Saxophone" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Saxophone</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/piano1.webp" alt="Piano" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Piano</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/piano2.webp" alt="Piano" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Piano</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/batterie1.webp" alt="Batterie" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Batterie</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/batterie2.webp" alt="Batterie" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text">Batterie</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
